* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* When the browser is at least 600px and above */
@media (max-width: 600px) {
    /* html {
        font-size: 20px;
    } */

    .background {
        width: 100%;
        height: 50px;
    }

    nav a { 
        font-size: 5px;
        width: 50%;
    }

    nav a.end { 
        font-size: 5px;
        width: 50%;
    }
}

/* ---------------general tag css---------------- */
body {
    /* Default font for entire webpage */
    margin: 0;
    padding: 0;
    width:100%;
    overflow-y:auto;
    font-family: poppins;
  }

p {
    /* for general paragraph font size */
    font-size: 23px;
    margin-bottom: auto;
}

a {
    /* general a tags no underline and color */
    color: black;
    text-decoration: none;
}

h1 {
    /* different font size and weight for headings for each page */ 
    width: 70%;
    font-weight: 100;
    font-size: 80px;   

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 70px;

    text-shadow: 1px 1px 2px #2d2d2d8c;
}

h1#about {
    /* different font size and weight for the about  */ 
    width: 70%;
    font-weight: 400;
    font-size: 28px;   
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 100px;
}

h3 {
    /* different font and size fr the titles on project page */
    font-weight: 100;
    font-size: 40px;  
}

h1#pageAbout {
    /* different font size and weight for the about  */ 
    width: 100%;
    font-weight: 100;
    font-size: 60px;   
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 2px #2d2d2d8c;
    backdrop-filter: blur(6px) saturate(100%);
}

/* ------------------head of website with logo and nav-------------------- */
header {
    /* applying flex for the head of the page with logo and nav */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    z-index: 100;
}

.logo {
    /* logo size */
    width: 100px;
    /* for text */
    font-size: 40px;
    margin-right: 0px; 
    margin-left: 10px;
    margin-top: 15px;
}

.menu {
    /* the right side of the header nav and headline */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    align-content: center;
    backdrop-filter: blur(6px) saturate(100%);
}

/* toggle visibility */
.show {
    display: flex;
}

/* nav section spacing and size--- */
nav {
    /* applying flex to products and cart to bring to the right side*/
    font-size: 20px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    /* adding special shape to nav */
    width: 8%;
    margin-right: 10px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 150px 0 0 150px;
}

nav a.mid {
    /* adding special shape to nav */
    width: 8%;
    margin-right: 10px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 0;
}

nav a.end {
    /* adding special shape to nav */
    width: 8%;
    margin-right: 10px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 0 150px 150px 0;
}

/* hover feature of the nav bar */
nav a:hover {
    text-align: center;
    border: 4px solid #000000;
}  

/* how the background div fits the surround elements */
.background {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* how the background image works on landing page */
.background img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* style of font on the backgrounnd */
.background h1{
    color: #000000;
    backdrop-filter: blur(6px) saturate(100%);
}

/* ---------------home section----------------------------------- */
h2 {
    /* different font size and weight for headings for each page */ 
    /* width: 70%; */
    font-weight: 100;
    font-size: 100px;   

    margin-left: 50px;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

h2:hover {
    /* different font size and weight for headings for each page */ 
    /* width: 70%; */
    font-weight: 400;
    font-size: 100px;   

    margin-left: 100px;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* list of the project on home page */
.projectList{
    width: 100%;
    padding: 80px 120px;
}

/* different sections for art uxui cs */
.projectSections{
    width: 100%;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

/* make them seem clickable */
.projectTitle1, .projectTitle2, .projectTitle3 {
    cursor: pointer;
}

/* hover feature of viewing the titles */
.projectTitle1:hover + .projectNames1, .projectTitle2:hover + .projectNames2, 
.projectTitle3:hover + .projectNames3{
    display: block;
}

/* toggle feature of viewing the titles */
.projectNames1, .projectNames2, .projectNames3 {
    display: none;
}


/* --------------------project section------------------------------- */

.projectContainer {
    /* project section flex for projects*/
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

/* each section being a snap */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    scroll-snap-align: start;
}

/* different font for those pages */
section h3 {
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

/* different color */
#artOne, #artTwo, #artThree {
    background-color: rgb(245, 199, 206);
}

/* different color */
#uiOne, #uiTwo, #uiThree {
    background-color: rgb(165, 165, 240);
}

/* different color */
#csOne, #csTwo, #csThree {
    background-color: rgb(230, 240, 165);
}

/* 
.projectTitle {
    justify-content: center;
}

.projectInfo {
    /* item section flex for the image and text 
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projectDetail {
    /* cart descriptions are centered
    width: 100%;
    /* height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

.projectMedia {
    /* image size and border
    width: 100%; 
    /* height: 100%; 
    object-fit: contain;
    display: flex;
    justify-content: space-around;
}

.projectText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

.projectYear {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.projectDescription {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
} */


/* ---------------play section----------------------------------- */
.gallery {
    /* item section flex and making the rows */
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galleryContent {
    /* items images and text are centered */
    color: black;
    width: 30%;
    font-size: 25px;
    text-align: left;

    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: block;
}

.galleryContent:hover {
    /* when items images and text hover turn gray */
    font-weight: 700;

    margin-left: auto;
    margin-right: auto;
    
    padding: 10px;
}

.thumbnail {
    /* image size and border */
    border: 1px solid #6a6a6a;
    
    width: 100%;
    height:300px;
   
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    display: block;
}

.thumbnail:hover {
    /* image size and border */
    border: 1px solid #6a6a6a;
    
    width: 100%;
    height:300px;
   
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    display: block;
    background-color: gray;
}

.name{
    /* title centering */
    text-align: center;
    margin: auto;
}
